/* CSS Variables */


/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: smokewhite;
}

 body {
  font-family: "Roboto", sans-serf;
  background-color: floralwhite;

}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: pink ;
} 

nav {
  background: floralwhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.intro { display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.9rem;
  max-width: 1100px;
  margin: 2rem auto -6rem;
}


label {
    color: black;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    }
.help-block.with-errors {
    color: black;
    margin-top: 5px;

}

.card{
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  background-color: #17325F;
  color: #EDF4FF;
  vertical-align: bottom;
}
footer div{
  display: inline-block;  
  min-height: 75px;
  text-align: left;
  width: 20%;
  padding-left: 15px;
}

input[type=send] {
  background-color: black;
  color: white;
}
/*Floating Back-To-Home Button*/
    #myBtn {
        position: fixed;
        bottom: 10px;
        float: right;
        right: 18.5%;
        left: 77.25%;
        max-width: 100px;
        width: 100%;
        font-size: 12px;
        border-color: rgba(85, 85, 85, 0.2);
        background-color: rgb(100,100,100);
        padding: .5px;
        border-radius: 4px;

    }



